.home_container{
  margin-left: 10%;
  margin-right: 10%;
  width: 60%;
  height: 100%;
  
 
}
.button-container{
  display: flex;
  justify-content: space-between;
  background-color: oldlace;
}
.all_post_btn1{
  padding: 8px 25px;
  border-radius: 10px;
  background-color: oldlace;
  border: 1px solid  oldlace; 
  outline: none;
}
.all_post_btn2{
  padding: 8px 25px;
  border-radius: 10px;
  background-color: oldlace;

}
.is-active{
  border: 1px solid  rgb(0, 0, 0);

}
.container{
 height: 100%;
}
.search{
  width: 100%;
  height: 40px;
}

@media only screen and (max-width:400px){
  .home_container{
      width: 100%;
      margin-left: 0%;
      margin-right: 0%;
  }
}